@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --text: #000000;
  --background: #ffffff;
  --background-rgba: rgba(255, 255, 255, 0.4);
  --primary: #8fb3ff;
  --secondary: #ebf1ff;
  --accent: #978ad5;
  --error: #ff3957;
  --success: #009103;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
 
}
*{
  box-sizing: border-box
}
body {
  background: white;
  margin: 0;
  display: flex;
  place-items: center;
  width: 320px;
  height: clamp(500px, 100vh, 600px);
  overflow-x: hidden;
  overflow-y: overlay;
  scrollbar-gutter: stable both-edges;
}
.header{
  animation: opening 2s ease;
  transform-origin: 50% 50%;
}

#root{
  width: 100%;
  height: 100%;
}
.blur-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(30px);
  background: linear-gradient(70deg, #A5C1FA 54.86%, #FF8FF4 72.11%);
}
.blur-bg::after{
  position: absolute;
  content: "";
  width: 160px;
  height: 160px;
  border-radius: 9999px;
  background-color: #f54ae5;
  top: 20%;
  animation: moving 14s alternate infinite;
}

.card-detail{
  max-height: 0;
  overflow: hidden;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.card-open{
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  max-height: unset;
}
.blur-bg::before{
  position: absolute;
  content: "";
  width: 160px;
  height: 160px;
  border-radius: 9999px;
  background-color: #2083f9;
  top: 80%;
  left: 20%;
  animation: moving2 16s alternate infinite;
}

.toast{
  animation: toast 0.3s ease;
}
.toast-wrapper.show {
  display: block;
  animation: fadeInOut 3s ease-in-out;
}

.y-button:hover .y-button svg, .y-button:focus .y-button svg, .y-button:focus-visible, .y-button:active{
  fill: var(--accent);
}

.search-box:hover, .search-box:focus, .search-box:focus-visible{
  outline: var(--accent);
}
option {
  background-color: white;
  padding: 4px;
  color: blue;
  margin-bottom: 1px;
  font-size: 18px;
  cursor: pointer;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.bookmark {
  background: linear-gradient(90deg, #A5C1FA 24.86%, #FF8FF4 92.11%);
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
  border: none;
}

@keyframes opening {
  0%{
    rotate: 0deg;
  }
  100%{
    rotate: 360deg;
  }
}
@keyframes moving {
  from {
    opacity: 0.6;
    transform: rotate(180deg);
  }

  25%{
    opacity: 0.3;
  }

  50%{
    opacity: 0.75;
    transform: scale3d(3, 3, 4);
  }

  75%{
    opacity: 0.6;

  }

  to{
    opacity: 0.4;
    transform: rotate(360deg);
  }
}
@keyframes moving2 {
  from {
    opacity: 0.8;
    transform: rotate(90deg);
  }

  25%{
    opacity: 0.3;
  }

  60%{
    opacity: 0.8;
    transform: scale3d(3, 3, 4);
  }

  75%{
    opacity: 0.6;

  }

  to{
    opacity: 0.4;
    transform: rotate(180deg);
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes toast {
  from {
    translate: 0 -100%;
    opacity: 1;
  }
  to{
    translate: 0 0;
    opacity: 1;
  }
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
  display: none;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
}
